/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

a {
  color: black;
  font-weight: 400;
  line-height: 1.25em;
}

a:hover {
  color: #ff6a56;
}

body {
  margin: 0px;
  font-family: 'Rubik', sans-serif;
  background-color: #11798718;
}

.border_right {
  border-right: solid black 1px;
}

.btn_header {
  margin-right: 40px;
  background-color: #117987;
  outline: none;
  border-radius: 15px;
  border: none;
  padding: 10px 10px;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: white;
}

.btn_medium {
  background-color: #ff6a56;
  outline: none;
  border-radius: 15px;
  border: none;
  padding: 15px 15px;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 18px;
  color: white;
}

.btn_small {
  background-color: #ff6a56;
  outline: none;
  border-radius: 15px;
  border: none;
  padding: 10px 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: white;
}

.btn_medium:active {
  box-shadow: 0px 0px 0px;
  transform: translateY(4px);
}

.btn_vote {
  background-color: #ff6a56;
  outline: none;
  border-radius: 0px 0px 24px 24px;
  border: none;
  padding: 5px 5px;
  height: 54px;
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 18px;
  color: white;
}

.btn_trip_add {
  background: #117987;
  color: white;
  outline: none;
  border: none;
  border-radius: 15px;
  width: 33%;
  padding: 5px 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.btn_trip_add:active {
  box-shadow: 0px 0px 0px;
  transform: translateY(2px);
}

.col_hor_center {
  align-items: center;
}

.col_vert_center {
  justify-content: center;
}

.dashboard_header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.dashboard_trip_container {
  width: 80%;
}

.dashboard_trip {
  justify-content: space-between;

  border-radius: 15px;
  background: #ffffff;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard_trip_info_buttons {
  width: 50%;
  margin-right: -10px;
}

.dashboard_trip_btn {
  height: 100px;
  margin: -10px 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-weight: 550;
}

.dashboard_trip_btn:active {
  transform: translateY(0px);
}

.dashboard_more_info {
  border-radius: 0px;
}

.dashboard_results {
  border-radius: 0px 15px 15px 0px;
  background-color: #ff6a56;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.full_width {
  width: 100%;
  max-width: 500px;
}

.half_width {
  width: 50%;
}

.header_nav {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.header_title {
  margin-left: 40px;
  outline: none;
}

.height_three_four {
  height: 75vh;
}

.img_placeholder {
  background-color: #ddd;
  height: 250px;
  margin-top: -16px;
  border-bottom: 1px solid black;
}

.img_vote {
  background-color: #ddd;
  height: 246px;
  width: 100%;
  margin-top: -16px;
  border-bottom: 1px solid black;
}

.option_info {
  border-bottom: 1px solid black;
  line-height: 10px;
}

.option_info_small {
  border-bottom: 1px solid black;
  line-height: 10px;
  justify-content: center;
}

p {
  font-weight: 300;
}

.padding_left_small {
  padding-left: 10px;
}

.row_vert_center {
  align-items: center;
}

.row_hor_center {
  justify-content: center;
}

.text_center {
  text-align: center;
}

.text_input_large {
  width: 66%;
  min-width: 275px;
  padding: 15px 15px;
  border-radius: 15px;
  border: 1px solid black;
  margin: 10px 0px;
  outline: none;
}

.title_shadow {
  margin: -12px 0px;
  text-align: center;
}

.trip_option_container_small {
  border-radius: 15px;
  background: #ffffff;
  box-sizing: border-box;
  width: 80%;
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
}

.trip_option_container_large {
  border: 1px solid black;
  border-radius: 25px;
  background: #ffffff;
  box-sizing: border-box;
  min-width: 270px;
  height: 90%;
  max-height: 600px;
  max-width: 300px;
  margin: 10px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.trip_option_image {
  width: 100%;
  margin: -10px;
  border-radius: 25px 25px 0px 0px;
}

.trip_option_label_small {
  background: #117987;
  font-weight: 700;
  size: 18px;
  padding: 5px 0px;
  color: #ffffff;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
}

.trip_option_label_large {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #117987;
  font-weight: 700;
  size: 18px;
  padding: 5px 0px;
  color: #ffffff;
  margin-top: 0px;
  border-radius: 24px 24px 0px 0px;
  height: 25px;
}

.trip_option_destination {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.trip_option_subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
}

.trip_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 10px;
  text-align: center;
}

.trip_subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  width: 80%;
  margin: 20px;
}

.voting_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  width: 242vw;
  padding: 10px 20px;
}
