/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 10px;
  font-family: Rubik, "Helvetica Neue", sans-serif;
  background-color: #11798718;
}
