<div *ngIf="tripOption; else elseBlock" class="flex_col">
  <img alt="Hero-pic">
  <p class="trip_option_label_small">Trip 1</p>
  <h2 trip_option_destination>{{tripOption.destination}}</h2>
  <p>{{tripOption.startDate | date}} for {{tripOption.nights}} {{timeFrame}}</p>
  <p>£{{tripOption.budgetRangeMin}} - £{{tripOption.budgetRangeMax}}pp</p>
</div>
<ng-template #elseBlock>
  <div *ngIf="clicked; else addBlock">
    <form class="trip_option_form">
      <app-create-trip-accordion (newTripOptionEvent)="addTripOption($event)"></app-create-trip-accordion>
      <button *ngIf="!confirmed; else confirmedBlock" class="confirm_btn" mat-raised-button color="accent">Confirm</button>
    </form>
    <ng-template #confirmedBlock></ng-template>
  </div>
  <ng-template #addBlock>
    <div>
      <p>Add a variant to your trip</p>
      <button class="btn_trip_add" (click)="btnClicked()">+</button>
    </div>
  </ng-template>
</ng-template>
