<div
  *ngIf="tripOption; else elseBlock"
  class="flex_col col_vert_center text_center"
>
  <img alt="Hero-pic" />
  <p class="trip_option_label_small">{{ optionTitle }}</p>
  <h2 trip_option_destination>{{ tripOption.destination }}</h2>
  <p>
    {{ tripOption.startDate | date }} for {{ tripOption.nights }}
    {{ timeFrame }}
  </p>
  <p>£{{ tripOption.budgetRangeMin }} - £{{ tripOption.budgetRangeMax }}pp</p>
</div>
<ng-template #elseBlock>
  <div *ngIf="clicked; else addBlock">
    <form class="trip_option_form">
      <app-create-trip-accordion
        [title]="optionTitle"
        (newTripOptionEvent)="addTripOption($event)"
      ></app-create-trip-accordion>
    </form>
  </div>
  <ng-template #addBlock>
    <div>
      <p>Add a variant to your trip</p>
      <button class="btn_trip_add" matRipple (click)="btnClicked()">+</button>
    </div>
  </ng-template>
</ng-template>
