<div *ngIf="user; else noUserBlock" class="flex_col col_hor_center">
  <div class="flex_col col_hor_center dashboard_header">
    <h1 class="trip_title">Hello {{ user.firstName }}</h1>
    <p class="trip_subtitle text_center">
      Keep up to date with all your adventures and plan the next one too! 🧳
    </p>
    <button
      class="btn_small"
      matRipple
      routerLink="/trips"
      routerLinkActive="active"
    >
      Create trip
    </button>
  </div>
  <div
    *ngIf="trips && trips.length; else noTripsBlock"
    class="flex_col col_hor_center dashboard_trip_container"
  >
    <div
      *ngFor="let trip of trips"
      class="flex_col col_vert_center col_hor_center dashboard_trip"
    >
      <div class="dashboard_trip_title">
        <h4>{{ trip.title }}</h4>
      </div>
      <div class="flex_row dashboard_trip_info_buttons">
        <button
          class="btn_trip_add full_width dashboard_trip_btn dashboard_more_info"
          matRipple
          routerLink="/trips/{{ trip.id }}"
        >
          More info
        </button>
        <button
          class="btn_trip_add full_width dashboard_trip_btn dashboard_results"
          matRipple
          routerLink="/trips/results/{{ trip.id }}"
        >
          Results
        </button>
      </div>
    </div>
  </div>
  <ng-template #noTripsBlock>
    <app-user-dashboard-notrips></app-user-dashboard-notrips>
  </ng-template>
</div>
<ng-template #noUserBlock>
  <app-user-dashboard-nouser></app-user-dashboard-nouser>
</ng-template>
