<div *ngIf="user" class="flex_col col_hor_center">
  <div class="flex_col col_hor_center dashboard_header">
    <h1 class="trip_title">Hello {{ user.firstName }}</h1>
    <p class="trip_subtitle text_center">
      Keep up to date with all your adventures and plan the next one too! 🧳
    </p>
    <button
      class="btn_small"
      matRipple
      routerLink="/trips"
      routerLinkActive="active"
    >
      Create trip
    </button>
  </div>
  <div class="flex_col col_hor_center dashboard_trip_container">
    <div
      *ngFor="let trip of trips"
      class="flex_row row_vert_center dashboard_trip"
    >
      <h4>{{ trip.title }}</h4>
      <button class="btn_trip_add" matRipple routerLink="/trips/{{ trip.id }}">
        More info
      </button>
    </div>
  </div>
</div>
