<div class="create_trip_dashboard_container flex_column">
  <div class="trip_dashboard_title">
    <h1>{{tripTitle}}</h1>
  </div>
  <div class="create_trip_options_container">
    <app-create-trip-option class="create_trip_option" (newTripOptionEvent)="addTripOption($event)"></app-create-trip-option>
    <app-create-trip-option class="create_trip_option" (newTripOptionEvent)="addTripOption($event)"></app-create-trip-option>
    <app-create-trip-option class="create_trip_option" (newTripOptionEvent)="addTripOption($event)"></app-create-trip-option>
  </div>
  <button class="create_trip_btn" mat-raised-button color="primary">Create Trip</button>
</div>
