<div *ngIf="trip" class="flex_row row_vert_center dashboard_trip">
  <h4>{{ trip.title }}</h4>
  <div class="flex_row dashboard_trip_info_buttons">
    <button
      class="btn_trip_add full_width dashboard_trip_btn dashboard_more_info"
      matRipple
      routerLink="/trips/{{ trip.id }}"
    >
      More <br />
      info
    </button>
    <button
      class="btn_trip_add full_width dashboard_trip_btn dashboard_results"
      matRipple
      routerLink="/trips/results/{{ trip.id }}"
    >
      Results
    </button>
  </div>
</div>
