<div class="flex_row header_nav">
  <h1 class="header_title" routerLink="/" routerLinkActive="active">
    far&away
  </h1>
  <div *ngIf="!userId; else signedInBlock">
    <button
      matRipple
      class="btn_header"
      routerLink="/login"
      routerLinkActive="active"
    >
      Sign in
    </button>
  </div>
  <ng-template #signedInBlock>
    <button
      matRipple
      class="btn_header"
      routerLink="/users/{{ userId }}"
      routerLinkActive="active"
    >
      Account
    </button>
  </ng-template>
</div>
